/* <!-- headerここから --> */
.container{
    max-width: 1152px;
    margin: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0,0,0);
}
.navbar-toggler {
    display: flex;
    margin-left: auto;
}
.nav-item{
    display: flex;
    margin-left: auto;
}

/* <!-- headerここまで --> */

/* top画像ここから */
.top{
    position: relative;
}
.top-photo img{
    position: relative;
    text-align: center;
    margin:0 auto;
    z-index: 1;
}
.top-logo{
    position: absolute;
    top: -10%;
}
.sign-logo{
    position: absolute;
    right: 9%;
    top: 238px;
    margin: 0 auto;
    width: 60%;
    height: 250px;
    z-index: 5;
    top: 2%;
    left: 0%;
}
.sign-logo{
    position: absolute;
    z-index: 5;
    right: 200px;
    top: 53%;
}




/* <!-- mainここから --> */

.container {
    width: 1100px;
    height: 900px;
    margin-right: auto;
}

.container h2 {
    text-align: center;
    font-size: 30px;
    width: 1000px;
    margin-top: 300px;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: black;
}

article {
    width: 300px;
    height: 400px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}

article:hover{
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    cursor: pointer;
}

.article_text {
    margin-left: 8px;
}

article img {
    width: 300px;
    height: 200px;
}

article h3 {
    font-size: 16px;
}

.readmore {
    bottom: 0;
    right: 0;
    font-size: 15px;
    border-bottom: 1px solid black;
    width: 90px;
}

/* <!-- mainここまで --> */
/* <!-- footerここから --> */
footer {
    height: 60px;
    width: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_text {
    font-size: 10px;
    text-align: center;
}

/* <!-- foooterここまで --> */

/* <!-- レスポンシブ対応ここから --> */
/* <!-- headerここから --> */
@media screen and (max-width: 767px) {
    body{
      min-width: 375px;
    }
    .top-logo{
        left: 30%;
        top: -250px;
    }
    .top-photo img{
        margin-top: 200px;
    }
    .sign-logo{
        width: 80%;
        top: 20px;
        padding-right: 30%;
 }
}


/* <!-- headerここまで --> */
/* <!-- mainここから --> */




/* <!-- mainここまで --> */
/* <!-- footerここから --> */


/* <!-- foooterここまで --> */
/* <!-- レスポンシブ対応ここまで --> */