/* <!-- headerここから --> */
body{
    max-width: 1152px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0,0,0);
}
.navbar-toggler {
    display: flex;
    margin-left: auto;
}
.nav-item{
    display: flex;
    margin-left: auto;
}

/* <!-- headerここまで --> */

/* top画像ここから */
.top-photo img{
    position: relative;
    text-align: center;
    margin:0 auto;
    z-index: 1;
}
.top-logo{
    position: absolute;
    margin: 0 auto;
    width: 60%;
    height: 250px;
    z-index: 5;
    top: 2%;
    left: 0%;
}
.sign-logo{
    position: absolute;
    z-index: 5;
    right: 200px;
    top: 53%;
}




/* <!-- mainここから --> */




/* <!-- mainここまで --> */
/* <!-- footerここから --> */





/* <!-- foooterここまで --> */

/* <!-- レスポンシブ対応ここから --> */
/* <!-- headerここから --> */
@media screen and (max-width: 767px) {
    body{
      min-width: 375px;
    
    }
}


/* <!-- headerここまで --> */
/* <!-- mainここから --> */




/* <!-- mainここまで --> */
/* <!-- footerここから --> */
footer {
    height: 60px;
    background-color: black;
    color: #fff;
    display: flex;
  justify-content: center;
  align-items: center;
}

.footer_text {
    font-size: 10px;
    text-align: center;
}



/* <!-- foooterここまで --> */
/* <!-- レスポンシブ対応ここまで --> */